name: Build Feed Process
on:
  push:
    branches:
      - main
    paths:
      - "FeedProcess/**"
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - "FeedProcess/**"
jobs:
  sonarcloud:
    name: SonarCloud
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
